/* style for header */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 82%;
    max-width: 1320px;
    /* margin: 0 auto;   */
}

.header-main {
    /* background-image: url('../images/Banner\ Image.png'); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0.5), rgba(0, 0, 0, 0)), url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    margin-left: 110px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    border-radius: 16px;
    /* position:relative; */

}

.new-year {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.party {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.header-title {
    padding-top: 177px;
}

/* styles main section */
.off {
    color: #F00;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-top: 200px;

}

.holiday {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
}

.catagories {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;
}

.new-year {
    padding-top: 48px;
}

#welcome {
    background-image: linear-gradient(90deg, #070211, rgba(7, 2, 17, 0.00)), url('../images/Vectorrr.png');
    border-radius: 16px;
    margin-top: 80px;
    margin-left: 110px;
    width: 1320px;
    height: 600px;
    display: flex;
    /* justify-content: space-between; */
}

.midnight h1 {
    color: #FFF;

    font-family: Merriweather;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 526px;
    padding-top: 120px;
}

.midnight-p {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-top: 24px;
    width: 697px;
    height: 60px;
}

.midnight button {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #070211;
    max-width: 150px;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
}

.midnight {
    padding-left: 120px;
}

.twenty-four {
    padding-top: 68px;
    padding-right: 138px;
}

.park-hotel h1 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}

.park-btn {
    margin-left: 550px;
    margin-top: 48px;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    border: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.park-hotel {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-color: antiquewhite;
    border-radius: 16px;
    margin-top: 120px;
    margin-left: 110px;
}

.park-details {
    padding-top: 100px;
}

.offer {
    display: flex;
    margin-top: 230px;
}

.best-offer h1 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.best-offer h2 {
    color: #070211;
    width: 328px;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.best-offer p {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 390px;
}

.year h3 {
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-right: 50px;
}

.year p {
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 276px;
    text-align: left;
    padding-top: 20px;
    text-align: left;
    padding-left: 100px;
}

.year img {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    margin-left: 100px;
    padding-top: 30px;
}

.best-offer h1,
h2,
#best {
    text-align: left;
    margin-left: 110px;
    justify-content: center;
}

.celebrate-img {
    border-radius: 463px;
    border: 15px solid #F00;
    /* padding: 10px; */
    margin-left: 100px;
    padding-top: 25px;
    padding-left: 25px;
    width: 400px;
}

.best-offer {
    margin-top: 100px;
}

.year {
    /* text-align: left; */
    margin-top: 100px;
}

.control {
    display: flex;
}

.functional h3 {
    color: #070211;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
}

.functional h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.functional p {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-left: 140px;
    width: 1068px;
    height: 95px;

}

.functional {
    text-align: center;
    margin-top: 200px;
    margin-left: 50px;
}

.discount {
    position: relative;
    right: 45%;
    bottom: -20%;

}

.girl {
    position: absolute;
}

.mizan {
    margin: 10px 200px;
    display: flex;
    justify-content: end;

}

.gr75 {
    width: 450px;
    position: relative;

    left: 20%;
    top: -150px;

}

.rect2 {
    width: 1341px;
    height: 150px;
    margin: 100px 100px;
    position: absolute;
}

.section {
    margin-top: 50px;
}

.gifts h3 {
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.gifts h1 {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.gifts p {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.gifts {
    margin-left: 110px;
    margin-top: 100px;
}

.products {
    margin-left: 110px;
    padding-top: 48px;
}